<footer>
    <div class="footer_bar">
        <div class="gauche">
            <div class="texte_logo">PHARMA36</div>
            <div class="texte_texte">Abidjan</div>
            <div class="texte_tel">Tel : <a href="tel:+2250777347863">+225 0777347863</a></div>
            <div class="texte_email">Email : <a href="axellekouadio255@yahoo.fr">axellekouadio255@yahoo.fr</a></div>
        </div>
        <div class="milieu">
            <div class="lien">Liens utiles</div>
            <div class="lien_accueil"><a href="/">Accueil</a></div>
            <div class="lien_utilisateur"><a href="/utilisateur/connexion">Espace utilisateur</a></div>
            <div class="lien_contact"><a href="/qui_sommes_nous">Qui sommes nous</a></div>
        </div>
        <div class="droit">
            <div class="lien">Nos partenaires</div>
            <div class="lien_adeph"><a href="https://www.ufrspb.ci/" target="_blank">UFR SPB ABIDJAN</a></div>
            <div class="lien_adeph"><a href="https://fr-fr.facebook.com/adepharm.ci/" target="_blank">ADEPHARM</a></div>
            <div class="lien_pharmac"><a href="https://pharma-consults.net/" target="_blank">PharmaConsult</a></div>
            <div class="lien_onp"><a href="https://www.ordrepharmacien.ci/" target="_blank">ONPCI</a></div>
            <div class="lien_onp"><a href="https://cotedivoire.ubipharm.com/fr" target="_blank">Ubipharm</a></div>
            <div class="lien_onp"><a href="http://www.copharmed.com/" target="_blank">Copharmed</a></div>
            <div class="lien_onp"><a href="https://www.tedispharma-ci.com/" target="_blank">Tedis pharma-ci</a></div>
            <div class="lien_onp"><a href="https://www.dpci.ci/" target="_blank">DPCI CI</a></div>
        </div>
    </div>
    <div class="bas">
        <div class="copy">&copy; PHARMA36. All Rights Reserved</div>
        <div class="developpe">Site dévéloppé par Dr Attoukora</div>
    </div>
</footer>
</body>
</html>