<%- include('includes/header') %>
<main>
    <div class="membre">
        <div class="membre_info">
          <div class="membre_contenue">
            ETRE LA PIERRE ANGULAIRE DE LA PROFESSION PHARMACEUITIQUE NOTRE L'ETMOTIVE
          </div>
        </div>
      </div>
</main>
<%- include('includes/footer') %>