<%- include('includes/header') %>
<div  style="text-align: center; font-size: 8rem;">ETRE LA PIERRE ANGULAIRE DE LA PROFESSION PHARMACEUITIQUE NOTRE L'ETMOTIVE</div>

<%- include('includes/footer') %>