<%- include ('../includes/header') %>
<div class="inscription">
  <% if (MODIFIER_PROFIL) { %>
    <div class="titre_formulaire">Modifier votre photo de profil</div>
  <form id="form" action="/utilisateur/modifier_profil_photo" method="post" enctype="multipart/form-data">
    <div class="info_personnelle">
      <div class="champ_profil">
        <label for="photo_profile"></label>
        <input id="photo_profile" type="file" accept=".jpg, .jpeg, .png" name="fichier_photo_profil" value="<%= MODIFIER_PROFIL.photo_profil %>">
      </div>
      <input  type="text" readonly id="champs_vide" style="background-color: inherit; opacity: 0;; text-align: center; width:20%; margin-top: 1.5rem; height: 1.5rem;" value="<%= MODIFIER_PROFIL.photo_profil %>">
    </div>
    <div class="confidentialite">
      <div class="info deux">confidentialité</div>
      <div>
        <label for="conf_password">Mot de passe</label>
        <input id="conf_password" type="password" placeholder="Confirmer votre mot de passe" name="conf_password">
      </div>
    </div>
    <button>Modifier</button>
  </form>
  <% } %>
</div>
<script src="/js/inser_photo.js"></script>
<script src="/js/modifier_profil_photo.js"></script>
<%- include ('../includes/footer') %>