<%- include ('../includes/header') %> 
<div class="inscription connexion">
    <div class="titre_formulaire">MESURE DES POLOS</div>
    <form action="/utilisateur/evenement/polos" method="post" class="evenement_un">
        <div class="confidentialite">
        <div>
            <label class="class_choix" for="choix">Faire votre choix</label>
            <select name="choix_taille" id="choix">
                <option value="Pétite taille S">Petite [S]</option>
                <option value="Taille moyenne M">Moyenne [M]</option>
                <option value="Taille large L">Moyenne [L]</option>
                <option value="Grande taille XL">Grande [XL]</option>
            </select>
        </div>
        </div>
        <button>Envoyer</button>
    </form>
</div>

<%- include ('../includes/footer') %> 